$background: #202020;

$button: #0d6efd;

$white: #FFF;

$navText: #333;

$offWhite: #ddd;

$darkBorder: #303030;

$pitchBlack: #000000;

$fontFam: 'Roboto Condensed', sans-serif;

$columns: 12;

$lightGray: rgba(255, 255, 255, 0.4);